body {
    text-align: center;
    background: url(../res/back.jpg);
    color: black;
    font-family: Helvetica;
}

input {
    border: 0;
    padding: 12px;
    font-size: 18px;
}

#main-banner{
    height: 250px;
    background: rgba(128,128,128,0.5);

}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

