body {
    text-align: center;
    background: url(../res/back.jpg);
    background-attachment: fixed;
    color: white;
    font-family: Helvetica;
}
p {
    font-size: 24px;
}
input {
    border: 0;
    padding: 12px;
    font-size: 18px;
}
input[type="submit"]{
    background: limegreen;
    color: black;
}