body {
    text-align: center;
    background: url(../res/back.jpg);
    color: black;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h2{
    text-shadow: 2px 2px 5px black;
}

p {font-size: 16px;}
.margin {margin-bottom: 30px;}
.bg-1 {
    background: rgba(128,128,128,0.75);
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

curriculum{
    display: none;
}

#education {
    border-radius: 25px;
    border: 2px solid mediumslateblue;
}

@keyframes picBobble {
    0% {top: -10px;}
    25% {top: +10px;}
    50% {top: -10px;}
    75% {top: +10px;}
    100% {top: 0px;}
}

.animatedPic{
    position: relative;
    animation-name: picBobble;
    animation-duration: 0.5s;
}